*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.light-mode {
    display: var(--light-mode);
}

.dark-mode {
    display: var(--dark-mode);
}

/* grid column spacing */
[griddery-id=".char-wrapper"]
[griddery-col] + [griddery-col]{
    padding-left: var(--gutter);
}

/* grid row spacing */
[griddery-id=".char-wrapper"]
[griddery-item] + [griddery-item]{
    margin-top: calc(var(--gutter) + 1rem);
}

body {
    background: var(--clr-background);
    color: var(--clr-text);
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    font-weight: var(--fw-regular);
    line-height: 1.5;
}

a {
    color: var(--clr-links);
    text-decoration: none;
    transition: all 0.6s ease-in-out;
}

a:hover {
    color: var(--clr-accent);
}

button {
    background: transparent;
    color: inherit;
    font-family: inherit;
    
    padding: 0;
    border: 0;
    box-shadow: 0;

    cursor: pointer;
}

h1, h2, h3, p, ul[role="list"], ol[role="list"] {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: var(--ff-body);
    font-weight: var(--fw-bold);
    line-height: 1.1;
    text-wrap: balance;
}

h1 {
    font-size: calc(var(--fs-body) + 0.6rem);
}

h2 {
    font-size: calc(var(--fs-body) + 0.4rem);
}

h2 {
    font-size: calc(var(--fs-body) + 0.2rem);
}

p {
    max-width: 65ch;
}

p + p {
    margin-top: 0.6rem;
}

ul[role="list"], ol[role="list"] {
    list-style: none;
}

img {
    object-fit: cover;
}

.toggle {
    min-width: fit-content;
    position: sticky;
    font-size: calc(var(--fs-body) - 0.1rem);
    border: 1px solid var(--clr-borders);
    padding: 0.2rem 0.5rem;
    background: var(--clr-text);
    color: var(--clr-background);
    text-align: left;
    border-radius: 0.3rem;
}

.light-mode::before, .dark-mode::before {
    font-family: "Phosphor-Bold";
    margin-inline-end: 7px;
}

.light-mode::before {
    content: '\e472';
}

.dark-mode::before {
    content: '\e330';
}

.topbar {
    width: var(--container-size);
    margin: 3rem auto;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.topbar-info {
    display: grid;
    gap: 0.8rem;
}

.topbar-image {
    width: 8rem;
    aspect-ratio: 1 / 1;
    background: var(--clr-container);
    border-radius: 50%;
    outline: 1px solid var(--clr-borders);
    padding: 0.4rem;
}

.topbar-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block-end: 0.5rem;
}

.nav {
    display: flex;
    gap: 2rem;
}

.more::before {
    content: '\e136';
    font-family: "Phosphor-Bold";
    margin-inline-end: 10px;
    transform: rotate(90deg);
}

.more-links:hover .more::before {
    content: '\e13a';
}

.custom-links {
    display: none;
    position: relative;
}

.more-links:hover .custom-links {
    display: block;
    position: absolute;
    z-index: 1;
}

.custom-links a {
    display: block;
    border-bottom: 1px solid var(--clr-borders);
    padding: 1rem;
    background: var(--clr-container);
}

.grid {
    margin: 3rem auto;
    width: var(--container-size);
}

.char-wrapper {
    width: calc(var(--box-width));
    position: relative;
    display: flex;
    flex-direction: column;
}

.char-image-wrapper, .char-image {
    width: 100%;
    height: 6rem;
    border-radius: 0.6rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.char-icon {
    position: absolute;
    width: 4rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    outline: 5px solid var(--clr-background);
    top: 0;
    left: 0;
    translate: 1rem 4rem;
}

.char-name-wrapper {
    position: absolute;
    background: linear-gradient(to right, hsl(from var(--clr-text) h s l / 1), hsl(from var(--clr-text) h s l / 0.8));
    color: var(--clr-background);
    padding: 0.5rem 1rem;
    left: 0;
    top: 0;
    translate: 6rem 5rem;
    border-radius: 0.2rem;
    outline: 3px solid var(--clr-background);
}

.char-block > * {
    padding: 1rem;
    background: var(--clr-container);
    border-bottom: 1px solid var(--clr-borders);
}

.char-block > *:last-child {
    border: 0;
    border-radius: 0.6rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-block-end: 1rem;
}

.char-desc p:first-child {
    margin-block-start: 1.5rem;
}

.stats-item {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.char-links-wrapper {
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: absolute;
    top: 0;
    right: 0;
    translate: 0 -1.8rem;
    z-index: 2;
}

.links-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    color: var(--clr-background);
    border-radius: 50%;
    outline: 3px solid var(--clr-background);
}

.links-item:nth-child(odd) a {
    background: var(--clr-accent);
}

.links-item:nth-child(even) a {
    background: var(--clr-accent-2);
}

.links-item:nth-child(odd) a:hover {
    background: var(--clr-background);
    color: var(--clr-accent-2);
}

.links-item:nth-child(even) a:hover {
    background: var(--clr-background);
    color: var(--clr-accent);
}

.ships, .stats {
    display: grid;
    gap: 0.5rem;
}

.ship-item {
    border-bottom: 1px solid var(--clr-borders);
    padding-block: 0.5rem;
}

.ship-item:first-child {
    padding-block-start: 0;
}

.ship-item:last-child {
    padding-block-end: 0;
    border: 0;
}

.ship-item .name {
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.ship-item .name::before {
    content: '\e2a8';
    font-family: "Phosphor-Bold";
}

.ship-item .desc::before {
    content: '—';
    margin-inline-end: 6px;
}

.tippy-tooltip.custom-theme {
    background: var(--clr-text);
    color: var(--clr-background);
    text-align: center;
    margin-block: 0.3rem;
}

.tippy-tooltip.custom-theme .tippy-svg-arrow {
  fill: var(--clr-text);
}
