@property --clr-gradient {
    syntax: '<color>';
    initial-value: transparent;
    inherits: false;
}

@property --clr-gradient-2 {
    syntax: '<color>';
    initial-value: transparent;
    inherits: false;
}

html.theme-transition,
html.theme-transition *,
html.theme-transition *:before,
html.theme-transition *:after {
  transition: 0s !important;
  transition-delay: 0 !important;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-background);
    color: var(--clr-text);
    font-family: var(--ff-body);
    font-size: var(--fs-body);
    min-height: 100vh;
    min-height: 100dvh;
}

a {
    color: var(--clr-links);
    text-decoration: none;
    transition: color 0.7s ease-in-out;

    &:hover {
        color: var(--clr-accent);
    }
}

h1, h2, h3, p, ul[class], ul[id], ol[class], ol[id] {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: var(--ff-accent);
    font-weight: 700;
    line-height: 1.2rem;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

p:not(:last-child, :only-child) {
    margin-block-end: 0.6rem;
}

ul[class], ul[id], ol[class], ol[id] {
    list-style: none;
}

img {
    object-fit: cover;
}

button {
    background: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;

    border: 1px solid transparent;
}

.light-mode {
    display: var(--light-mode);
}

.dark-mode {
    display: var(--dark-mode);
}

.solar-icons {
    font-size: var(--fs-h3);
}

iframe.tmblr-iframe {
    transform: scale(0.75, 0.75);
    filter: invert(100%);
    translate: -1.4rem 0.3rem;
    visibility: hidden;
    opacity: 0;
}

html[data-theme="dark"] iframe.tmblr-iframe {
    filter: invert(0);
}

iframe.tmblr-iframe.active {
    opacity: 1;
    visibility: visible;
}

.controls {
    position: fixed;
    top: 1rem;
    right: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--clr-text);
    color: var(--clr-background);
    padding: 0.4rem;
    border: 1px solid var(--clr-borders);
    border-radius: var(--radius-sm);
    transition: background 0.8s ease-in-out, color 0.8s ease-in-out;

    &:hover {
        background: var(--clr-container);
        color: var(--clr-accent);
    }
}

.link-label {
    margin-inline-start: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;

    a {
        --clr-gradient: var(--clr-links);
        --clr-gradient-2: var(--clr-links);

        background: linear-gradient(to bottom, var(--clr-gradient), var(--clr-gradient-2));
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        transition: --clr-gradient 0.8s ease-in-out, --clr-gradient-2 0.8s ease-in-out;
    }
}

.link-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--clr-container);
    padding: 0.4rem;
    border: 1px solid var(--clr-borders);
    border-radius: var(--radius-sm);

    i {
        background: linear-gradient(to bottom, var(--clr-gradient), var(--clr-gradient-2));
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        transition: --clr-gradient 0.8s ease-in-out, --clr-gradient-2 0.8s ease-in-out;
    }
}

main {
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: start;
    gap: 3rem;
    margin: 4rem auto;
}

.left-sb main, .right-sb main {
    grid-template-areas: 'sidebar'
    'content';
}

.nav-container {
    width: 70%;

    &::after {
        content: '';
        width: 100%;
        height: 1px;
        background: var(--clr-borders);

        display: block;
        margin-block: 3rem 1rem;
        
    }
}

.standard-links {
    width: calc(var(--sidebar-size) - 60px);

    padding: 1rem;
    background: var(--clr-container);
    border: 1px solid var(--clr-borders);
    border-top: 0;
    border-radius: 0 0 var(--radius-sm) 0;

    display: flex;
    align-items: center;
    gap: 1rem;

    a, .links-button {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 0.4rem;
        background: var(--clr-background);
        border: 1px solid var(--clr-borders);
        border-radius: var(--radius-sm);
        transition: background 0.7s ease-in-out, color 0.7s ease-in-out;

        &:nth-child(odd):hover {
            background: var(--clr-accent);
            color: var(--clr-background);
        }

        &:nth-child(even):hover {
            background: var(--clr-accent-2);
            color: var(--clr-background);
        }
    }
}

.custom-links {
    margin-top: 1.2rem;
}

.links-list {
    display: grid;
    grid-template-rows: 0fr;
    gap: 1rem;

    transition: grid-template-rows 0.9s ease-in-out;

    li {
        &:nth-child(odd) .link-icon i, &:nth-child(even):hover .link-icon i, &:nth-child(odd):hover a {
            --clr-gradient: var(--clr-accent);
            --clr-gradient-2: var(--clr-accent-gradient);
        }

        &:nth-child(even) .link-icon i, &:nth-child(odd):hover .link-icon i, &:nth-child(even):hover a {
            --clr-gradient: var(--clr-accent-2);
            --clr-gradient-2: var(--clr-accent-2-gradient);
        }
    }
}

.links-open .links-list {
    grid-template-rows: 1fr;
}

.custom-close {
    display: none;
}

.custom-open {
    display: flex;
}

.links-open .custom-open {
    display: none;
}

.links-open .custom-close {
    display: flex;
}

.list-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    overflow: hidden;
}

.sidebar {
    grid-area: sidebar;
    width: var(--container-size);
}

.image-and-title, .sidebar-top {
    position: relative;
}

.sidebar-top {
    &::after {
        content: '';
        width: 100%;
        height: 1px;
        background: var(--clr-borders);

        display: block;
        margin-block: 2.8rem 1rem;
    }
}

.s-image {
    width: 5rem;
    aspect-ratio: 1;
    border: 1px solid var(--clr-borders);
    border-radius: var(--radius-round);
    background: linear-gradient(to bottom, var(--clr-accent), var(--clr-accent-2));
    padding: 0.2rem;

    display: block;
    margin-inline: 5rem;
}

.s-title {
    width: calc(var(--sidebar-size) - 4.5rem);

    position: absolute;
    bottom: 0;
    right: 0;
    translate: -10.6rem 1.2rem;

    h1 {
        background: var(--clr-container);
        padding: 1rem;
        border: 1px solid var(--clr-borders);
        border-radius: var(--radius-sm);

        font-size: var(--fs-h3);
        text-overflow: ellipsis;
        overflow: clip;
        white-space: nowrap;
    }
}

.toggle {
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--clr-accent);
    color: var(--clr-background);
    padding: 0.4rem;
    border: 1px solid var(--clr-borders);
    border-radius: var(--radius-round);

    position: absolute;
    top: 0;
    right: 0;
    translate: -10rem 2.6rem;
    z-index: 2;
}

.tabs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    column-gap: 1rem;
}

.tabs button {
    position: relative;
    margin-block: 0.5rem;

    &::before {
        content: '';
        width: 5px;
        height: 100%;
        background: var(--clr-gradient);

        transform: scale(1, 0);
        transition: transform 0.8s ease-in-out;
        transform-origin: bottom;
        
        position: absolute;
        top: 0;
        left: 15px;
    }

    &:hover::before {
        transform: scale(1, 1);
        transform-origin: top;
    }

    &:nth-child(odd)::before {
        --clr-gradient: var(--clr-accent);
    }

    &:nth-child(even)::before {
        --clr-gradient: var(--clr-accent-2);
    }

    &:nth-child(odd) .tab-icon i {
        --clr-gradient: var(--clr-accent);
        --clr-gradient-2: var(--clr-accent-2);
    }

    &:nth-child(even) .tab-icon i {
        --clr-gradient: var(--clr-accent-gradient);
        --clr-gradient-2: var(--clr-accent-2-gradient);
    }
}

.tabs button[aria-selected="true"] {
    cursor: default;
}

.tabs button[aria-selected="true"]::before {
    transform: scale(1, 1);
    transform-origin: top;
}

.tab-label {
    margin-left: 25px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    max-width: 30ch;

    h3 {
        display: block;
        padding-bottom: 0.3rem;

        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

.image-and-icon {
    --image-size: 3rem;

    position: relative;

    figure {
        width: var(--image-size);
        aspect-ratio: 1;
        border-radius: var(--radius-sm);
        border: 1px solid var(--clr-borders);
        padding: 0.3rem;
        overflow: hidden;

        &:not(:has(+ .tab-icon)) {
            display: none;
        }

        & + .tab-icon {
            position: absolute;
            bottom: 0;
            right: 0;
            translate: 0.3rem 0.5rem;
    
            i {
                font-size: var(--fs-body);
            }
        }
    }
}

.tab-image {
    width: var(--image-size);
    aspect-ratio: 1;
}

.tab-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--clr-container);
    padding: 0.4rem;
    border: 1px solid var(--clr-borders);
    border-radius: var(--radius-sm);

    i {
        background: linear-gradient(to bottom, var(--clr-gradient), var(--clr-gradient-2));
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
}

.project-header {
    width: var(--container-size);
    position: relative;
}

.pr-header {
    width: 100%;
    height: 150px;
    border-radius: var(--radius-sm) var(--radius-sm) 0 0;
}

.pr-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    position: absolute;
    width: calc(100% - 2rem);
    bottom: 0;
    left: 0;
    translate: 1rem 1.4rem;
}

.pr-image {
    width: calc(var(--sidebar-size) - 1rem);
    aspect-ratio: 1;
    border-radius: var(--radius-round);
    background: linear-gradient(to bottom, var(--clr-accent), var(--clr-accent-2));
    padding: 0.2rem;
}

.pr-title {
    max-width: 30ch;

    h2 {
        background: var(--clr-container);
        border: 1px solid var(--clr-borders);
        font-size: var(--fs-h3);

        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding: 1rem;

    }
}

.pr-nav {
    display: flex;
    align-items: center;
    gap: 10px;

    a {
        display: flex;
        align-items: center;
        justify-content: center;

        background: var(--clr-container);
        padding: 0.4rem;
        border: 1px solid var(--clr-borders);
        border-radius: var(--radius-sm);

        transition: background 0.8s ease-in-out, color 0.8s ease-in-out;

        &:hover {
            color: var(--clr-background);
        }

        &:nth-child(odd):hover {
            background: var(--clr-accent);
        }

        &:nth-child(even):hover {
            background: var(--clr-accent-2);
        }
    }
}

.content {
    width: var(--container-size);
    grid-area: content;
}

.content > * {
    animation: fade-in 1.2s forwards!important;
}

.project-content {
    margin-top: 3rem;
}

.project-block {
    &:not(:last-child)::after {
        content: '';
        width: 50%;
        height: 1px;
        background: var(--clr-borders);

        display: block;
        margin-inline: auto;
        margin-block: 2rem;
    }

    &:nth-child(odd) .project-title h2 {
        &::after {
            content: '';
            height: 1px;
            background: var(--clr-borders);
            flex: 1;
        }
    }

    &:nth-child(even) .project-title h2 {
        &::before {
            content: '';
            height: 1px;
            background: var(--clr-borders);
            flex: 1;
        }
    }
}

.project-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-block-end: 0.5rem;

    h2 {
        display: flex;
        align-items: center;
        gap: 10px;
        flex: 1;

        span {
            position: relative;

            &::before {
                --clr-gradient: var(--clr-accent);
                --clr-gradient-2: var(--clr-accent-2);

                content: '';
                width: 100%;
                height: 5px;
                background: linear-gradient(to right, var(--clr-gradient), var(--clr-gradient-2));

                position: absolute;
                bottom: 0;
                translate: 0 -0.2rem;
                z-index: -1;
            }
        }
    }
}

.project-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--clr-container);
    padding: 0.4rem;
    border: 1px solid var(--clr-borders);
    border-radius: var(--radius-sm);

    i {
        --clr-gradient: var(--clr-accent-gradient);
        --clr-gradient-2: var(--clr-accent-2-gradient);

        background: linear-gradient(to bottom, var(--clr-gradient), var(--clr-gradient-2));
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
}

.tw-container {
    position: relative;
    display: grid;
    
    &::before {
        content: '';
        width: 1px;
        height: 100%;
        background: var(--clr-borders);

        position: absolute;
        top: 0;
        left: 0;
        translate: 1rem 0;
        z-index: -1;
    }
}

.tags-title {
    display: flex;
    align-items: center;
    margin-block-end: 5px;

    h3 {
        display: flex;
        align-items: center;
        gap: 5px;
        flex: 1;

        &::before {
            content: '';
            height: 1px;
            background: var(--clr-borders);
            flex: 1;
        }

        span {
            position: relative;

            &::before {
                --clr-gradient: var(--clr-accent);
                --clr-gradient-2: var(--clr-accent-2);

                content: '';
                width: 100%;
                height: 5px;
                background: linear-gradient(to right, var(--clr-gradient), var(--clr-gradient-2));

                position: absolute;
                bottom: 0;
                translate: 0 -0.2rem;
                z-index: -1;
            }
        }
    }
}

.tag-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.4rem;
    background: var(--clr-container);
    border: 1px solid var(--clr-borders);
    border-radius: var(--radius-sm);

    i {
        background: linear-gradient(to bottom, var(--clr-accent), var(--clr-accent-2));
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
}

.tags-list {
    margin-inline-start: 2rem;
    display: block;

    span {
        display: inline;

        &:not(.warning):before {
            content: '#';
        }

        &:not(:last-child)::after {
            content: '';
            width: 5px;
            aspect-ratio: 1;
            border-radius: 50%;

            display: inline-block;
            vertical-align: middle;
            margin-inline: 5px;
        }

        &:not(.warning)::after {
            background: var(--clr-accent);
        }
    
        &.warning::after {
            background: var(--clr-accent-2);
        }
    }
}

.mm-container {
    display: grid;
    gap: 2rem;

    position: relative;

    &::after {
        content: '';
        width: 1px;
        height: 100%;
        background: var(--clr-borders);

        position: absolute;
        top: 0;
        right: 0;
        translate: -1rem 0;
        z-index: -1;
    }
}

.char-title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(.major-title) {
        margin-block-end: 5px;
    }

    &.major-title {
        margin-block-end: 0.5rem;
    }

    h3 {
        display: flex;
        align-items: center;
        flex: 1;
        gap: 5px;

        &::after {
            content: '';
            height: 1px;
            background: var(--clr-borders);
            flex: 1;
        }

        span {
            position: relative;

            &::before {
                --clr-gradient: var(--clr-accent-gradient);
                --clr-gradient-2: var(--clr-accent-2-gradient);

                content: '';
                width: 100%;
                height: 5px;
                background: linear-gradient(to right, var(--clr-gradient), var(--clr-gradient-2));

                position: absolute;
                bottom: 0;
                translate: 0 -0.2rem;
                z-index: -1;
            }
        }
    }
}

.char-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.4rem;
    border: 1px solid var(--clr-borders);
    background: var(--clr-container);
    border-radius: var(--radius-sm);

    i {
        background: linear-gradient(to bottom, var(--clr-accent-gradient), var(--clr-accent-2-gradient));
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
}

.major-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    column-gap: 1rem;
    row-gap: 1.5rem;
}

.char {
    position: relative;

    &:nth-child(odd) h3::before {
        --clr-gradient: var(--clr-accent);
        --clr-gradient-2: var(--clr-accent-gradient);
    }

    &:nth-child(even) h3::before {
        --clr-gradient: var(--clr-accent-2);
        --clr-gradient-2: var(--clr-accent-2-gradient);
    }
}

.char-img {
    width: 4.5rem;
    aspect-ratio: 1;
    border-radius: var(--radius-round);
    border: 1px solid var(--clr-borders);
    background: var(--clr-container);
    padding: 0.4rem;
}

.char-name {
    background: var(--clr-container);
    padding: 0.7rem 1rem;
    border-bottom: 2px solid var(--clr-borders);

    position: absolute;
    bottom: 0;
    right: 0;
    translate: -3rem 0.5rem;

    h3 {
        font-size: calc(var(--fs-body) + 0.05rem);
        position: relative;
        max-width: 14ch;

        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &::before {
            content: '';
            width: 100%;
            height: 5px;
            background: linear-gradient(to right, var(--clr-gradient), var(--clr-gradient-2));

            position: absolute;
            bottom: 0;
            translate: 0 -0.2rem;
            z-index: -1;
        }
    }
}

.minor-list {
    margin-inline-end: 2rem;

    .minor-char:not(:last-child)::after {
        content: '';
        width: 6px;
        aspect-ratio: 1;
        border-radius: var(--radius-round);
        background: var(--clr-accent-2-gradient);

        display: inline-block;
        vertical-align: middle;
        margin-inline: 5px;
    }
}

.ship-list {
    display: grid;
    gap: 1rem;

    position: relative;

    &::before {
        content: '';
        width: 1px;
        height: 100%;
        background: var(--clr-borders);

        position: absolute;
        top: 0;
        left: 0;
        translate: 1rem 0;
        z-index: -1;
    }
}

.ship-item {
    &:nth-child(odd) .ship-name b::before, &:nth-child(even) .ship-icon i {
        --clr-gradient: var(--clr-accent);
        --clr-gradient-2: var(--clr-accent-gradient);
    }

    &:nth-child(even) .ship-name b::before, &:nth-child(odd) .ship-icon i {
        --clr-gradient: var(--clr-accent-2);
        --clr-gradient-2: var(--clr-accent-2-gradient);
    }
}

.ship-name {
    display: flex;
    align-items: center;
    gap: 10px;

    b {
        position: relative;
        max-width: calc(var(--container-size) - 3rem);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: calc(var(--fs-body) + 0.1rem);
        font-family: var(--ff-accent);

        &::before {
            content: '';
            width: 100%;
            height: 5px;
            background: linear-gradient(to right, var(--clr-gradient), var(--clr-gradient-2));

            position: absolute;
            bottom: 0;
            translate: 0 -0.2rem;
            z-index: -1;
        }
    }
}

.ship-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.4rem;
    background: var(--clr-container);
    border: 1px solid var(--clr-borders);
    border-radius: var(--radius-sm);

    i {
        background: linear-gradient(to bottom, var(--clr-gradient), var(--clr-gradient-2));
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
}

.desc-wrapper {
    margin-inline-start: 2.8rem; 
}

.scroll-and-credit {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: grid;
    gap: 10px;
}

.scroll-to-top, .credit {
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--clr-text);
    color: var(--clr-background);
    padding: 0.4rem;
    border: 1px solid var(--clr-borders);
    border-radius: var(--radius-sm);
    transition: background 0.8s ease-in-out, color 0.8s ease-in-out;
}

.credit:hover {
    background: var(--clr-container);
    color: var(--clr-accent);
}

.scroll-to-top {
    opacity: 0;
    visibility: hidden;
    transition: visiblity 0.8s ease-in-out, opacity 0.8s ease-in-out;
}

.show-scroll .scroll-to-top {
    visibility: visible;
    opacity: 1;
    transition: visiblity 0.8s ease-in-out, opacity 0.8s ease-in-out;
}

.tippy-tooltip.custom-theme {
    background-color: var(--clr-text);
    color: var(--clr-background);
    font-family: var(--ff-accent);
    font-weight: 500;
    margin-block: 0.75rem;
    text-align: center;
}

.tippy-tooltip.custom-theme .tippy-svg-arrow {
  fill: var(--clr-text);
}

@media screen and (width >= 900px) {
    .left-sb main {
        grid-template-areas: 'sidebar content';
    }

    .right-sb main {
        grid-template-areas: 'content sidebar';
    }

    .sidebar {
        width: var(--sidebar-size);
        position: sticky;
        top: 1rem;
    }

    .s-image {
        margin-inline-start: 0;
    }

    .s-title {
        translate: -2.4rem 1.2rem;
    }

    .toggle {
        translate: -1.8rem 2.8rem;
    }

    .tabs {
        grid-template-columns: 1fr;
    }

    .nav-container {
        position: fixed;
        top: 0;
        width: calc(var(--sidebar-size) - 60px);

        &::after {
            display: none;
        }
    }
    
    .standard-links {
        padding: 1rem;
        background: var(--clr-container);
        border: 1px solid var(--clr-borders);
        border-left: 0;
        border-top: 0;
        border-radius: 0 0 var(--radius-sm) 0;
    
        display: flex;
        align-items: flex-start;
        gap: 1rem;
    }
    
    .custom-links {
        width: 100%;
        margin-top: 1.5rem;
    }
    
    .links-list li {
        &:not(:last-child)::after {
            content: '';
            width: 100%;
            height: 1px;
            background: var(--clr-borders);
    
            display: block;
            margin-block: 1rem;
        }
    }

    .list-wrapper {
        grid-template-columns: 1fr;
        gap: 0;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
